#movie-container {
    display: flex;
    gap: 24px;
}

#poster-container img {
    width: 128px;
}

#movie-details-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}